body {
    overflow-x: hidden;
}

.slider h3, .slider h5 {
    text-shadow: 1px 1px 3px rgba(1, 0, 0, 0.5);
}

.navbar-fixed img {
    height: 50px;
    margin-top: 5px;
}

nav a {
    font-family: 'Poppins', sans-serif;
}

.parallax-container {
    height: 20%;
}

.home .bg {
    width: 100%;
    position: relative;
    z-index: -1;
}

.home .container img {
    width: 30%;
}

.home .container {
    position: absolute;
    top: 100px;
    right: 0;
    left: 0;
    text-shadow: 1px 1px 1px black;
}

.home h1 {
    font-family: 'Montserrat', sans-serif;
}

.about {
    margin-top: 40px;
}

.clients h3 {
    text-shadow: 1px 1px 3px rgba(1, 0, 0, 0.5);
}

.parallax img {
    filter: grayscale(1);
    opacity: 0.8!important;
}

section, footer {
    padding: 3px;
}

.works {
    background-image: url(img/bg/2.jpg);
    margin-top: -40px;
}

.works h4 {
    margin-bottom: 20px;
}

.works img {
    margin-bottom: 20px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5)  ;
}

.carousel img {
    border-radius: 500px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.carousel {
    margin-bottom: 50px;
}

.contact img {
    width: 60px;
    margin: 20px;
}

h3 {
    font-size: 60px;   
}

.contact h5 {
    font-family: 'Roboto', sans-serif;
}   

.carousel h5, p {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

h3, h4, h5 {
    font-family: 'Bebas Neue', cursive;
}

p {
    font-family: 'Roboto', sans-serif;
}

/* Responsive */
@media screen and (min-width: 768px) {
    .about {
        margin-top: -150px;
    }
}

@media screen and (max-width: 768px) {
    .home .bg {
        height: 400px;
    }
}